public   com.mojang.blaze3d.platform.GlStateManager$BlendState
public   com.mojang.blaze3d.platform.GlStateManager$BooleanState
public   com.mojang.blaze3d.platform.GlStateManager$TextureState
public   com.mojang.blaze3d.platform.GlStateManager$ColorMask
public   com.mojang.blaze3d.platform.GlStateManager$DepthState
public   net.minecraft.client.renderer.RenderStateShard$TransparencyStateShard
public   net.minecraft.client.renderer.RenderType$CompositeRenderType
public   net.minecraft.client.renderer.RenderType$CompositeState
public   net.minecraft.client.renderer.FogRenderer$FogData
public   net.minecraft.client.renderer.texture.Stitcher$Holder
public   net.minecraft.world.level.biome.Biome$ClimateSettings
public   net.minecraft.client.Options$FieldAccess
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo
public net.minecraft.client.renderer.texture.SpriteContents$Ticker
public   net.minecraft.client.OptionInstance$ValueSet
public-f   net.minecraft.client.OptionInstance
public   net.minecraft.client.renderer.chunk.ChunkRenderDispatcher$RenderChunk$RebuildTask
public-f   net.minecraft.core.RegistryAccess$RegistryEntry
public   net.minecraft.client.renderer.chunk.ChunkRenderDispatcher$RenderChunk$RebuildTask$CompileResults
public   net.minecraft.client.renderer.LevelRenderer$RenderChunkInfo
public net.minecraft.client.renderer.RenderType create # (Ljava/lang/String;Lcom/mojang/blaze3d/vertex/VertexFormat;Lcom/mojang/blaze3d/vertex/VertexFormat$Mode;IZZLnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType;
public com.mojang.blaze3d.platform.NativeImage f_84964_ # pixels
public-f net.minecraft.client.renderer.ShaderInstance PROJECTION_MATRIX
public-f net.minecraft.client.renderer.ShaderInstance MODEL_VIEW_MATRIX
public-f net.minecraft.client.renderer.ShaderInstance TEXTURE_MATRIX
public-f net.minecraft.client.renderer.ShaderInstance CHUNK_OFFSET
public-f net.minecraft.client.renderer.ShaderInstance COLOR_MODULATOR
public net.minecraft.client.renderer.ShaderInstance f_173331_ # uniforms
public-f net.minecraft.client.renderer.LevelRenderer f_109464_
public net.minecraft.client.gui.components.AbstractSelectionList$Entry
public com.mojang.blaze3d.platform.GlStateManager$BooleanState enabled
public net.minecraft.client.renderer.ShaderInstance m_108943_()I # getId
public com.mojang.blaze3d.shaders.Program m_166618_()I # getId
public com.mojang.blaze3d.vertex.PoseStack$Pose trustedNormals

# Embedded Distant Horizons access requirements.
public net.minecraft.world.level.storage.DimensionDataStorage f_78146_
public net.minecraft.world.level.biome.BiomeManager f_47863_
public net.minecraft.client.renderer.GameRenderer m_109141_(Lnet/minecraft/client/Camera;FZ)D
public net.minecraft.client.renderer.LevelRenderer f_194307_
public net.minecraft.client.renderer.LevelRenderer$RenderChunkStorage
public net.minecraft.client.renderer.LevelRenderer$RenderChunkInfo f_109839_
public net.minecraft.world.level.chunk.LevelChunk f_62775_
public net.minecraft.world.level.lighting.LightEngine f_283849_
public net.minecraft.world.level.lighting.LayerLightSectionStorage m_284382_(J)Z
public net.minecraft.server.level.ServerChunkCache f_8327_
public net.minecraft.server.level.ChunkMap m_140174_(J)Lnet/minecraft/server/level/ChunkHolder;
public net.minecraft.server.level.ChunkMap f_140135_
public net.minecraft.server.level.ChunkMap m_140280_(Ljava/util/function/BooleanSupplier;)V
public net.minecraft.server.level.ServerLevel f_143244_
public net.minecraft.world.level.chunk.storage.ChunkStorage f_63495_
public net.minecraft.world.level.chunk.storage.IOWorker f_63518_
public net.minecraft.world.level.chunk.storage.RegionFileStorage f_63700_
public net.minecraft.world.level.chunk.storage.RegionFileStorage f_63699_
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture m_245080_(I)I
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture m_246436_(I)I
public net.minecraft.client.renderer.texture.SpriteContents f_244575_
public net.minecraft.client.renderer.texture.SpriteContents f_243904_
public-f net.minecraft.util.ThreadingDetector f_199409_
public net.minecraft.client.gui.components.AbstractSelectionList f_93396_
